:root {
  /* Primary colors */
  --primary-color: #ffffff;

  /* Secondary colors */
  --secondary-color: #000000;

  /* Accent color*/
  --accent-color: #12ecf0;
}
@font-face {
  font-family: "LEMONMILK"; /* Font family name */
  src: url("/assets/fonts/lemon_milk/LEMONMILK-Bold.otf") format("opentype"); /* Path to bold font */
  font-weight: bold;
}

@font-face {
  font-family: "LEMONMILK";
  src: url("//assets/fonts/lemon_milk/LEMONMILK-BoldItalic.otf")
    format("opentype"); /* Path to italic font */
  font-style: italic;
}

@font-face {
  font-family: "LEMONMILK";
  src: url("/assets/fonts/lemon_milk/LEMONMILK-Regular.otf") format("opentype"); /* Path to regular font */
  font-weight: normal;
}

@font-face {
  font-family: "LEMONMILK";
  src: url("/assets/fonts/lemon_milk/LEMONMILK-Medium.otf") format("opentype"); /* Path to medium font */
  font-weight: 500; /* Custom font weight for medium */
}

.header {
  display: flex;
  background-color: var(--primary-color);
  justify-content: space-between;
  padding: 2rem 1rem;
}
.nav {
  display: flex;
  gap: 1rem;
}
.nav > li > a {
  color: var(--secondary-color);
  text-decoration: none;

  font-family: "LEMONMILK", Arial, sans-serif; /* Use LEMONMILK for paragraphs */
  font-weight: normal; /* Ensure normal font weight for paragraphs */
}

.logo > h1 {
  font-family: "LEMONMILK", Arial, sans-serif; /* Use LEMONMILK for headings */
  font-weight: bold; /* Ensure bold font weight for headings */
}
#home {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 4rem 5rem 4rem;
  gap: 3rem;
}
.hero-title {
  font-family: "LEMONMILK", Arial, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: var(--primary-color);
  text-align: center;
}
.hero-text > p {
  font-family: "LEMONMILK", Arial, sans-serif;
  text-align: justify;
  font-size: 1.5rem;
  margin-top: 1rem;
}
#company-name {
  color: var(--accent-color);
}
.hero-image {
  border-radius: 2rem;
}
#hero-catch {
  text-align: center;
  color: var(--accent-color);
}
.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.about-me {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.profile-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.bio h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.bio p {
  color: #666;
  line-height: 1.6;
}
